[Unit]
Description=imacry command & control server
After=network.target
StartLimitIntervalSec=0[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env /path/to/binary

[Install]
WantedBy=multi-user.target
